.wolk img {
  width: 470px;
  height: 200px;
}
.wolk2 img {
  width: 470px;
  height: 200px;
}
.wolk{
  float: right;
  min-height:200px;
  width:500px;
  position: relative;
  margin-top: 200px;

}
.wolk2{
  float: right;
  min-height:200px;
  width:500px;
  position: relative;
  margin-top: 400px;

}
.vliegtuig {
  float: left;
  min-height:200px;
  width:500px;
  position: absolute;
  margin-top: 300px;

}
.vliegtuig img {
  width: 470px;
  height: 200px;
}
.container{
  width: 100%;
  height: 800px;

}
